body {
  background-image: url("../assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Bellefair', serif;
}

#navbar-area {
  margin: 3% 0 3% 2%;
  position: relative;
}

.navlink-upperbox {
  width: 60%;
  padding: 2%;
  padding-bottom: 0;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  position: relative;
}

.navlink-box {
  width: 90%;
}

.nav-link {
  font-family: Barlow Condensed;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.1875em;
  letter-spacing: 2.700000047683716px;
  text-align: center;
  margin: auto;
  border-bottom: solid 3px transparent;
  padding-bottom: 4%;
}

.active-border {
  border-bottom: solid 3px white;
}

.number {
  font-weight: 900;
}

@media (min-width:1200px) {
  .connecting-rectengle {
    border-top: solid white 1px;
    width: 64%;
    position: absolute;
    top: 2.9rem;
    left: -60.5%;
    height: 1px;
    opacity: 0.2;
  }
}

/* mid section */
.mid-part {
  margin: 13% 16% 10%;
  text-align: left;
}

.text-type1 {
  font-family: Bellefair;
  font-size: 9.375em;
  font-weight: 400;
}

.text-type2 {
  font-family: Barlow Condensed;
  font-size: 1.75em;
  font-weight: 400;
  line-height: 2.125em;
  letter-spacing: 4.724999904632568px;
}

.text-type3 {
  font-family: Barlow;
  font-size: 1.125em;
  color: #D0D6F9;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 0px;
  width: 87%;
}

.circle {
  height: 17.125em;
  width: 17.125em;
  background-color: #fff;
  border-radius: 100%;
  margin: 23% 0 0 50%;
  position: relative;
}

.explore-text {
  color: black;
  font-family: Bellefair;
  font-size: 2em;
  font-weight: 400;
  line-height: 2.3125em;
  letter-spacing: 2px;
  position: absolute;
  top: 41%;
  left: 31%;
}

@media (max-width:1200px) {
  body{
    background-image: url("../assets/home/background-home-tablet.jpg");
    text-align: center;
  }
  .mid-part{
    text-align: center;
  }
  .text-type3{
    margin: auto;
  }
  .circle{
    margin: 40% auto 0 auto;
  }
}

@media (max-width:667px) {
  body{
    background-image: url("../assets/home/background-home-mobile.jpg");
  }
  .text-type1{
    font-size: 5rem;
  }
  .text-type2{
    font-size: 1rem;
  }
  .text-type3{
    font-size: 1rem;
  }
  .circle{
    width: 10rem;
    height: 10rem;
  }
  .explore-text {
    color: black;
    font-family: Bellefair;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.5125em;
    letter-spacing: 2px;
    position: absolute;
    top: 40%;
    left: 31%;
  }
}
