body {
  background-image: url("../assets/crew/background-crew-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Bellefair', serif;
}

.not-only-big-screen {
  position: absolute;
  left: -999em;
}

.container {
  margin: auto 8%;
}

.text-type1 {
  font-size: 3.5rem;
}

.text-type2 {
  font-family: Bellefair;
}

.text-type3 {
  width: 70%;
}

.crew-job-text {
  opacity: 0.5;
}

.mid-text {
  margin: 3% 10%;
}

.mid-text span {
  opacity: 0.2;
}

.content {
  margin-top: 15%;
}

#navigation-circles {
  margin-top: 15%;
}

.fa {
  color: #595C5C;
  width: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

.each-circle {
  margin: auto 1%;
}

.fa-active {
  color: #fff;
}

.man-img {
  margin: 0 5%;
  text-align: center;
}

.line {
  opacity: 0;
}

@media (max-width:1200px) {
  body {
    background-image: url("../assets/crew/background-crew-tablet.jpg");
    text-align: center;
  }

  .only-big-screen {
    position: absolute;
    left: -999em;
  }

  .not-only-big-screen {
    position: static;
    left: auto;
  }

  .container {
    margin: 3%;
    text-align: center;
  }

  .content {
    margin-top: auto;
  }

  #navigation-circles {
    margin: 3% auto;
  }

  .text-type3 {
    margin: auto;
  }

  .mid-text {
    margin-left: 5%;
    text-align: left;
  }

  .navbar-nav {
    margin: 3% auto;
  }

  .man-img {
    margin: auto;
    text-align: center;
    height: 35.75rem;
  }
}

@media (max-width:667px) {
  body {
    background-image: url("../assets/crew/background-crew-mobile.jpg");
    text-align: center;
  }

  .text-type1 {
    font-size: 1.5rem;
  }

  .text-type2 {
    font-size: 1rem;
  }

  .text-type3 {
    font-size: 1rem;
  }

  .mid-text {
    margin: 3% auto;
    text-align: center;
  }

  .man-img {
    height: 13.9375rem;
    margin: auto;
  }

  .line {
    opacity: 0.2;
    margin: 0 auto;
  }

  .fa {
    width: 5px;
  }
}
